<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MyTestSuite">
    <test name="AllTests">
        <classes>
            <class name="test1.RegistrationTest" />
            <class name="test1.SignInTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="test1.TestListener"/>
        <listener class-name="test1.ExtentTestListener"/>
    </listeners>
</suite>
