<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MyTestSuite">
    <test name="Registration">
        <classes>
            <class name="miniprojectTest.RegistrationTest" />
            <class name="miniprojectTest.SignInTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="miniprojectTest.TestListener"/>
        <listener class-name="miniprojectTest.ExtentTestListener"/>
    </listeners>
</suite>
